.container {
	display: block;
	margin-top: 10px;
	padding: 10px;
}

.list {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	max-width: 600px;
	max-height: 400px;
	padding: 10px;
	overflow-y: auto;
	border-radius: 10px;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.name {
	width: 200px;
}

.total {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 50px;
	max-width: 600px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

.btn {
	position: absolute;
	right: 0;
}