.container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: fit-content;
	margin: 0;
	padding: 20px;
	transform: translate(-50%, -50%);
}

.container a {
	margin-right: 10px;
}

.container a:last-child {
	margin-right: 0;
}