@font-face {
	font-weight: normal;
	font-family: 'CeraPro-Regular';
	src: local('CeraPro-Regular'),
		url('./fonts/CeraPro-Regular.ttf') format('truetype');
}

#root {
	position: relative;
	width: 100vw;
	max-width: 1280px;
	height: 100vh;
	margin: 0 auto;
	padding: 2rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #ffffff;
	font-family: 'CeraPro-Regular', sans-serif;
	background-color: #121212;
}

button {
	padding: 4px 20px;
	color: #808080;
	background-color: #222222;
	border: 2px solid #1c1c1c;
	border-radius: 14px;
	cursor: pointer;
	will-change: transform;
	transition: all 0.4s ease-out 0.02s;
}

button::-ms-browse:hover {
	background-color: #81ecec;
	border: 2px solid #00cec9;
}

button:hover {
	color: #ffffff;
	background-color: #696969;
	border: 2px solid #808080;
	box-shadow: 0 0 4px rgb(226 226 226);
}
